/* about_styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #495057;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about {
    background-color: #495057;
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #495057;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}
